// ---------------------------
// HELPER CLASSES
// ---------------------------
// POSITION
// ---------------------------
.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.fixed {
  position: fixed;
}

//---------------------------
// FLOAT
//---------------------------

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clrf:after {
    content: '';
    display:table;
    clear: both;
}

// -------------------------
// DISPLAY VALUES
// -------------------------

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// -------------------------
// ALIGNING ELEMENTS
// -------------------------

.center {
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

// -------------------------
// COLORS
// -------------------------

.white {
  &.white {
    color: #fff;
  }
}

.black {
  &.black {
    color: #000;
  }
}

.prime {
  &.prime {
    color: $prime;
  }
}

.second {
  &.second {
    color: $second;
  }
}

// -------------------------
// BACKGROUNG COLORS
// -------------------------

.bg-white {
  &.bg-white {
    background-color: $white;
  }
}

.bg-black {
  &.bg-black {
    background-color: $black;
  }
}

.bg-prime {
  &.bg-prime {
    background-color: $prime;
  }
}

.bg-second {
  &.bg-second {
    background-color: $second;
  }
}

.bg-main {
  &.bg-main {
    background-color: $bg-main;
  }
}

.bg-transparent {
  &.bg-transparent {
    background-color: transparent;
  }
}

.bg-gray {
  &.bg-gray {
    background-color: $bgcolor;
  }
}

// -------------------------
// CURSOR
// -------------------------

.pointer {
  cursor:pointer;
}

// -------------------------
// MARGINS
// -------------------------

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mb-14 {
  margin-bottom: 14rem;
}