// ---------------------------
// LAYOUTS & CONTAINERS
// ---------------------------

div, p, section, header, footer{
  box-sizing: border-box;
}

section {
  padding-top: $contVerIndent;
  padding-bottom: $contVerIndent;
}

.wrap { 
  max-width: $mainContainer;
  padding-left: $contHorIndent;
  padding-right: $contHorIndent;
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
}

