// ---------------------------
// LAYOUTS & CONTAINERS
// ---------------------------

div, p, section, header, footer{
  box-sizing: border-box;
}

section {
  padding-top: $contVerIndent;
  padding-bottom: $contVerIndent;
}

.wrap { 
  max-width: $mainContainer;
  padding-left: $contHorIndent;
  padding-right: $contHorIndent;
  margin: 0 auto;
    @media (max-width: $screen-md){
    padding-left: $contHorIndentMob;
    padding-right: $contHorIndentMob;
  }
}

.circle {
  border-radius: 50%;
}

