//--------------------------
//TYPOGRAPHY AND TEXT STYLES
//--------------------------

html{
    font-size: 10px;
}

//--------------------------
//HEADINGS
//--------------------------

%fontf_MW{
    font-family: "Merriweather",serif;
}

%fontf_OS{
    font-family: "Open Sans", sans-serif;
}

.user-h1{
    @extend %fontf_MW;
    font-size: 4.8rem;
}

.user-h2{
    @extend %fontf_MW;
    font-size: 3.6rem;
}

.user-h3{
    @extend %fontf_MW;
    font-size: 2.4rem;
}

.user-h4{
    @extend %fontf_MW;
    font-size: 2.2rem;
}

.user-h5{
    @extend %fontf_OS;
    font-size: 1.4rem;
}

.user-h6{
    @extend %fontf_MW;
    font-size: 1.4rem;
}

.text-bold{
    font-weight: bold;
}

p{
    @extend %fontf_OS;
    font-size: 1.6rem;
}

a{
    @extend %fontf_OS;
    font-size: 1.2rem;    
    color:$bgcolorShade;
    border:0.2rem solid transparent;
    padding-bottom: 1rem;
    text-decoration: none;
    transition: all 0.2s;
    
    &:hover{
        color:$white;
        border-bottom-color: $prime;
        text-decoration: none;
    }
}



