//--------------------------
//GLOBAL VARIABLES
//--------------------------


//--------------------------
//BRAND COLORS
//--------------------------



$prime:            #3a9c61;
$primeShade:       #296e44;
$primeTint:        #75ba90;
$primePastel:      #d8ebdf;

$second:           #241e18;
$secondShade:      #191511;
$secondTint:       #65615d;
$secondPastel:     #d3d2d1;

$highlight:        #e98e19;
$highlightShade:   #a46412;
$highlightTint:    #f0b05e;
$highlightPastel:  #fbe8d1; 

$bgcolor:          #f2f0e9;
$bgcolorShade:     #c2c0ba;
$bgcolorTint:      #f6f4f0;
$bgcolorPastel:    #f8f7f4;

//--------------------------
//OTHER COLORS
//--------------------------

$white:            #ffffff;
$black:            #000000;

//--------------------------
//VARIABLES
//--------------------------

