//global styles
@import"../global";
//home page
.logo {
    color: $white;
    @media (max-width: $screen-md) {
        padding-top: 0;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

.top {
    border-bottom: 1rem solid $prime;
    background: url("../../img/bgpicture.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.hamburger {
    color: $white;
    font-size: 3rem;
    display: none;
    cursor: pointer;
    &:hover {
        color: $prime;
    }
    @media (max-width: 825px) {
        display: block;
    }
}

.top-nav {
    display: block;
    margin-right: 1.5rem;
    @media(max-width: 825px) {
        display:none;
    }
}

.top-nav-item {
    display: inline-block;
    @media(max-width: 825px) {
        display:block;
    }
}

.top-nav-item>a {
    margin-left: 4.8rem;
    color: $bgcolorShade;
    border: 0.2rem solid transparent;
    padding-bottom: 1rem;
    transition: all 0.5s;
    &:hover {
        color: $white;
        border-bottom-color: $prime;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
    @media(max-width:825px) {
        font-size: 2rem;
        line-height: 4rem;
        padding-bottom: 0;
        margin: 0 auto;
    }
}

.top-subtitle {
    @media(max-width: $screen-sm) {
        margin-bottom: 30px;
    }
}

.myserv-section {
    .picture {
        width: 16.6rem;
        height: 16.6rem;
        transition: background 0.5s;
        &:hover {
            background-color: $highlight;
        }
    }
    .pic-left {
        background-image: url("../../img/pic-left.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    .pic-middle {
        background-image: url("../../img/pic-middle.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    .pic-right {
        background-image: url("../../img/pic-right.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.aboutme-section {
    .picture {
        width: 14rem;
        height: 14rem;
    }
    .pic {
        background-image: url("../../img/photo.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.aboutme-section {
    line-height: 3rem;
}

.mywork-section-wrap {
    border: 0.1rem solid $black;
    background-color: $white;
    border-radius: 0.3rem;
    width: 26.3rem;
    height: 19.7rem;
    .inner-block {
        width: 25.3rem;
        height: 18.7rem;
        margin: 0.4rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mask {
        opacity: 0;
        width: 25.3rem;
        height: 18.7rem;
        transition: all 0.3s linear;
    }
}

.pic-1 {
    background-image: url("../../img/mywork-pic-1.jpg");
}

.pic-2 {
    background-image: url("../../img/mywork-pic-2.jpg");
}

.pic-3 {
    background-image: url("../../img/mywork-pic-3.jpg");
}

.pic-4 {
    background-image: url("../../img/mywork-pic-4.jpg");
}

.pic-5 {
    background-image: url("../../img/mywork-pic-5.jpg");
}

.pic-6 {
    background-image: url("../../img/mywork-pic-6.jpg");
}

.pic-7 {
    background-image: url("../../img/mywork-pic-7.jpg");
}

.pic-8 {
    background-image: url("../../img/mywork-pic-8.jpg");
}

.mask:hover {
    background: rgba(223, 157, 42, 0.9);
    opacity: 1;
}

.sec-left:hover,
.sec-right:hover {
    cursor: pointer;
    color: $highlight;
    transform: scale(1.2);
}

.sec-middle {
    font-weight: 100;
    color: #65615d;
    line-height: 3.6rem;
    background-color: transparent;
    transition: all 0.5s linear;
}

.myclients-section-left {
    width: 6.5rem;
    height: 6.5rem;
    background-image: url("../../img/photo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.5rem solid $white;
}

.myclients-section-right {
    color: $third;
}

.small-circle-default {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $white;
    border: 0.1rem solid $prime;
    margin-right: 1rem;
}

.small-circle-active {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: $prime;
    margin-right: 1rem;
}

.hidden-block {
    display: none;
}

.dribbble-icon {
    width: 6.8rem;
    height: 6.8rem;
    background: url("../../img/Dribbble.png") no-repeat center center;
    background-size: cover;
    &:hover {
        opacity: 1;
    }
    @media(max-width:420px) {
        transform: scale(0.82);
    }
}

.instagram-icon {
    width: 6.8rem;
    height: 6.8rem;
    background: url("../../img/Instagram.png") no-repeat center center;
    background-size: cover;
    &:hover {
        opacity: 1;
    }
    @media(max-width:420px) {
        transform: scale(0.82);
    }
}

.email-icon {
    width: 6.8rem;
    height: 6.8rem;
    background: url("../../img/Email.png") no-repeat center center;
    background-size: cover;
    &:hover {
        opacity: 1;
    }
    @media(max-width:420px) {
        transform: scale(0.82);
    }
}

.rss-icon {
    width: 6.8rem;
    height: 6.8rem;
    background: url("../../img/RSS.png") no-repeat center center;
    background-size: cover;
    &:hover {
        opacity: 1;
    }
    @media(max-width:420px) {
        transform: scale(0.82);
    }
}

.opacity-icon {
    opacity: 0.3;
}

.top-but {
    position: fixed;
    width: 5rem;
    height: 5rem;
    bottom: 2rem;
    right: 2rem;
    background-color: $prime;
    color: $black;
    padding-top: 1.5rem;
    &:hover {
        background-color: $highlight;
        color: $white;
    }
}

.modal-body {
    background-color: $highlightTint;
}
