//global styles
@import"../global";

//home page

.logo{    
    color: $white;
}

.top{
    border-bottom: 1rem solid $prime;
    background: url("../../img/bgpicture.jpg") no-repeat center center;
    background-size: cover; 
}

.top-nav{
    display: block;
    margin-right: 1.5rem;
}

.top-nav-item{
    display: inline-block;
    margin-left: 4.8rem;
}

.myserv-section {
    .picture {
        width: 16.6rem;
        height: 16.6rem;
        transition: background 0.5s;
        &:hover{
            background-color: $highlight;
        }
    }
    .pic-left{
        background-image: url("../../img/pic-left.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    .pic-middle{
        background-image: url("../../img/pic-middle.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    .pic-right{
        background-image: url("../../img/pic-right.png");
        background-position: center;
        background-repeat: no-repeat;
    }

}

.aboutme-section {
    .picture {
        width: 14rem;
        height: 14rem;
    }
    .pic{
        background-image: url("../../img/photo.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.aboutme-section{
    line-height: 3rem;
}

.mywork-section-wrap{
    border:0.1rem solid $bg-gray;
    background-color: $white;
    border-radius: 0.3rem;
    width: 26.3rem;
    height: 19.7rem;
    .inner-block{
        width: 25.3rem;
        height:18.7rem;
        margin: 0.4rem;
        background-position: center;
        background-repeat: no-repeat;
        
    }

}

.pic-1{
    background: url("../../img/mywork-pic-1.jpg");
    transition: all 0.2s;
    &:hover{
       
        
        background: rgba(223,157,42,0.7);
        transform: scale(1.1);
       
        
        
    }
}

.pic-2{
    background-image: url("../../img/mywork-pic-2.jpg");
}

.pic-3{
    background-image: url("../../img/mywork-pic-3.jpg");
}

.pic-4{
    background-image: url("../../img/mywork-pic-4.jpg");
}

.pic-5{
    background-image: url("../../img/mywork-pic-5.jpg");
}

.pic-6{
    background-image: url("../../img/mywork-pic-6.jpg");
}

.pic-7{
    background-image: url("../../img/mywork-pic-7.jpg");
}

.pic-8{
    background-image: url("../../img/mywork-pic-8.jpg");
}
